In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import csv

In [2]:
df_licens_10_19 = pd.read_csv("./data/driver_license_19.csv", encoding="cp949")

In [3]:
df_licens_10_19 = df_licens_10_19.head(4)
df_licens_10_19.rename(columns={"구분": "age_group"}, inplace=True)
df_licens_10_19 = df_licens_10_19.set_index("age_group")

In [4]:
df_licens_10_19

           1종대형    1종보통  1종소형  대형견인  소형견인  구난    2종보통  2종소형    원자
age_group
16            0       0     0     0     0   0       0     0  2830
17            0       0     0     0     0   0       0     0  7165
18            0   56539     0     0     0   0   40027   118  5412
19         1066  117088     0     0     0   2  100029   111  3120

In [5]:
df_licens_10_19.loc["total"] = df_licens_10_19.sum(axis=0)
df_licens_10_19 = df_licens_10_19.tail(1)
df_licens_10_19 = df_licens_10_19.transpose()

In [6]:
df_licens_10_19

age_group   total
1종대형         1066
1종보통       173627
1종소형            0
대형견인            0
소형견인            0
구난              2
2종보통       140056
2종소형          229
원자          18527

In [7]:
df_licens_10_19.index.name = "type"

In [8]:
df_licens_10_19.to_csv("./data/pre_driver_license_under20_type_19.csv", encoding="utf-8")

In [9]:
df = pd.read_csv("./data/pre_driver_license_under20_type_19.csv", encoding="utf-8")

In [10]:
df

   type   total
0  1종대형    1066
1  1종보통  173627
2  1종소형       0
3  대형견인       0
4  소형견인       0
5    구난       2
6  2종보통  140056
7  2종소형     229
8    원자   18527