In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import csv

In [2]:
df_licens_10_20 = pd.read_csv("./data/driver_license_20.csv", encoding="cp949")

In [3]:
df_licens_10_20 = df_licens_10_20.head(4)
df_licens_10_20.rename(columns={"구분": "age_group"}, inplace=True)
df_licens_10_20 = df_licens_10_20.set_index("age_group")

In [4]:
df_licens_10_20

           1종대형    1종보통  1종소형  대형견인  소형견인  구난    2종보통  2종소형    원자
age_group
16            0       0     0     0     0   0       0     0  2197
17            0       0     0     0     0   0       0     0  4854
18            0   28078     0     0     0   0   22321   131  2728
19          729  112365     0     0     0   2  109397   180  2259

In [5]:
df_licens_10_20.loc["total"] = df_licens_10_20.sum(axis=0)
df_licens_10_20 = df_licens_10_20.tail(1)
df_licens_10_20 = df_licens_10_20.transpose()

In [6]:
df_licens_10_20

age_group   total
1종대형          729
1종보통       140443
1종소형            0
대형견인            0
소형견인            0
구난              2
2종보통       131718
2종소형          311
원자          12038

In [7]:
df_licens_10_20.index.name = "type"

In [8]:
df_licens_10_20.to_csv("./data/pre_driver_license_under20_type_20.csv", encoding="utf-8")

In [9]:
df = pd.read_csv("./data/pre_driver_license_under20_type_20.csv", encoding="utf-8")

In [10]:
df

   type   total
0  1종대형     729
1  1종보통  140443
2  1종소형       0
3  대형견인       0
4  소형견인       0
5    구난       2
6  2종보통  131718
7  2종소형     311
8    원자   12038