In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import csv

In [2]:
df_licens_10_21 = pd.read_csv("./data/driver_license_21.csv", encoding="cp949")

In [3]:
df_licens_10_21 = df_licens_10_21.head(2)
df_licens_10_21.rename(columns={"연령대": "age_group"}, inplace=True)
df_licens_10_21 = df_licens_10_21.drop(columns=["성별"])
df_licens_10_21 = df_licens_10_21.set_index("age_group")

In [4]:
df_licens_10_21

           1종_대형   1종_보통  1종_소형  1종_대형견인  1종_소형견인  1종_구난  2종_보통  2종_소형  2종_원자
age_group
16 - 19      724  123916      0        0        0      3  49060    333  11000
16 - 19       44   17336      0        0        0      0  76813      9    395

In [5]:
df_licens_10_21.rename(columns={"1종_대형": "1종대형", "1종_보통": "1종보통", "1종_소형": "1종소형", "1종_대형견인": "대형견인", "1종_소형견인": "소형견인", "1종_구난": "구난", "2종_보통": "2종보통", "2종_소형": "2종소형", "2종_원자": "원자"}, inplace=True)

In [6]:
df_licens_10_21.loc["total"] = df_licens_10_21.sum(axis=0)
df_licens_10_21 = df_licens_10_21.tail(1)
df_licens_10_21 = df_licens_10_21.transpose()

In [7]:
df_licens_10_21

age_group   total
1종대형          768
1종보통       141252
1종소형            0
대형견인            0
소형견인            0
구난              3
2종보통       125873
2종소형          342
원자          11395

In [8]:
df_licens_10_21.index.name = "type"

In [9]:
df_licens_10_21.to_csv("./data/pre_driver_license_under20_type_21.csv", encoding="utf-8")

In [10]:
df = pd.read_csv("./data/pre_driver_license_under20_type_21.csv", encoding="utf-8")

In [11]:
df

   type   total
0  1종대형     768
1  1종보통  141252
2  1종소형       0
3  대형견인       0
4  소형견인       0
5    구난       3
6  2종보통  125873
7  2종소형     342
8    원자   11395