In [2]:
import pandas as pd
import numpy as np
import csv

In [3]:
df_license_type_5 = pd.read_excel("./data/driver_license_type.xls", engine="xlrd")

In [4]:
df_license_type_5 = df_license_type_5.iloc[1:-4]
df_license_type_5.rename(columns={"기본계획 연령별1": "age_group", "기준년도": "accident_type"}, inplace=True)
df_license_type_5 = df_license_type_5.replace("-", np.nan)
df_license_type_5 = df_license_type_5.fillna(0)

C:\Users\minni\AppData\Local\Temp\ipykernel_107904\194570358.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_license_type_5 = df_license_type_5.replace("-", np.nan)

In [5]:
df_license_type_5

,age_group,accident_type,2018,2018.1,2018.2,2018.3,2018.4,2018.5,2018.6,2018.7,...,2021.6,2021.7,2022,2022.1,2022.2,2022.3,2022.4,2022.5,2022.6,2022.7
1,합계,사고[건],217148,148338,53810,60.0,5203,104,4465,5168,...,3223,5981,196836,132235,50705,114,5066,114,2858,5744
2,합계,사망[명],3781,2606,810,0.0,189,3,22,151,...,12,132,2735,1830,613,1,121,4,15,151
3,합계,부상[명],323037,225142,79528,84.0,7570,166,5076,5471,...,3600,6512,281803,192519,72634,173,6796,155,3283,6243
4,20세이하,사고[건],6654,1149,3477,19.0,833,2,63,1111,...,125,1137,6508,1354,2376,13,1523,4,54,1184
5,20세이하,사망[명],97,24,43,0.0,28,0,1,1,...,0,4,72,21,30,0,18,0,0,3
6,20세이하,부상[명],9420,1838,5030,34.0,1224,3,78,1213,...,156,1252,8863,2105,3458,22,1883,4,76,1315
7,21~30세,사고[건],28727,17499,9789,25.0,881,39,51,443,...,72,569,26904,14388,11083,42,798,43,51,499
8,21~30세,사망[명],420,288,106,0.0,17,1,2,6,...,1,2,335,180,133,0,14,3,4,1
9,21~30세,부상[명],44204,27351,14880,32.0,1330,57,82,472,...,92,634,39706,21532,16280,69,1131,58,82,554
10,31~40세,사고[건],33618,24060,8424,7.0,727,33,38,329,...,34,437,28402,18898,8429,12,561,17,34,451
11,31~40세,사망[명],511,415,80,0.0,14,0,0,2,...,1,6,317,223,80,0,11,0,2,1
12,31~40세,부상[명],50796,36539,12683,9.0,1106,49,51,359,...,40,494,41287,27647,12234,15,821,24,41,505
13,41~50세,사고[건],42204,31399,9507,4.0,779,11,18,486,...,29,630,33915,25047,7767,17,515,15,16,538
14,41~50세,사망[명],636,513,97,0.0,18,0,2,6,...,0,5,409,337,49,1,11,0,0,11
15,41~50세,부상[명],63137,47263,14076,4.0,1233,17,23,521,...,30,700,48389,36179,10836,19,729,22,19,585
16,51~60세,사고[건],53631,41062,10742,4.0,1014,13,25,771,...,34,969,44581,33812,9160,15,686,10,30,868
17,51~60세,사망[명],940,736,139,0.0,36,0,4,25,...,1,16,570,462,76,0,16,0,1,15
18,51~60세,부상[명],80116,61920,15847,4.0,1476,21,24,824,...,36,1075,63632,48562,13039,28,992,13,32,966
19,61~64세,사고[건],18095,13902,3541,0.0,263,1,10,378,...,12,436,19160,14729,3650,3,293,5,12,468
20,61~64세,사망[명],330,237,66,0.0,11,2,1,13,...,4,11,297,231,35,0,15,0,2,14
21,61~64세,부상[명],27142,21150,5225,0.0,353,1,11,402,...,13,470,27566,21391,5238,5,396,5,12,519
22,65세이상,사고[건],30012,19267,8330,1.0,705,4,94,1611,...,68,1706,34652,24007,8240,12,689,14,61,1629
23,65세이상,사망[명],843,393,279,0.0,65,0,8,98,...,4,88,735,376,210,0,36,1,6,106
24,65세이상,부상[명],43469,29081,11787,1.0,847,16,97,1640,...,73,1788,49281,35103,11549,15,843,16,68,1687

In [6]:
df_license_type_5["total"] = (df_license_type_5["2018"] + df_license_type_5["2019"] + df_license_type_5["2020"]  + df_license_type_5["2021"] + df_license_type_5["2022"]) / 5
df_license_type_5 = df_license_type_5.drop(columns=["2018", "2019", "2020", "2021", "2022"])
df_license_type_5["제1종"] = (df_license_type_5["2018.1"] + df_license_type_5["2019.1"] + df_license_type_5["2020.1"]  + df_license_type_5["2021.1"] + df_license_type_5["2022.1"]) / 5
df_license_type_5 = df_license_type_5.drop(columns=["2018.1", "2019.1", "2020.1", "2021.1", "2022.1"])
df_license_type_5["제2종"] = (df_license_type_5["2018.2"] + df_license_type_5["2019.2"] + df_license_type_5["2020.2"]  + df_license_type_5["2021.2"] + df_license_type_5["2022.2"]) / 5
df_license_type_5 = df_license_type_5.drop(columns=["2018.2", "2019.2", "2020.2", "2021.2", "2022.2"])
df_license_type_5["연습면허"] = (df_license_type_5["2018.3"] + df_license_type_5["2019.3"] + df_license_type_5["2020.3"]  + df_license_type_5["2021.3"] + df_license_type_5["2022.3"]) / 5
df_license_type_5 = df_license_type_5.drop(columns=["2018.3", "2019.3", "2020.3", "2021.3", "2022.3"])
df_license_type_5["무면허"] = (df_license_type_5["2018.4"] + df_license_type_5["2019.4"] + df_license_type_5["2020.4"]  + df_license_type_5["2021.4"] + df_license_type_5["2022.4"]) / 5
df_license_type_5 = df_license_type_5.drop(columns=["2018.4", "2019.4", "2020.4", "2021.4", "2022.4"])
df_license_type_5["국제면허"] = (df_license_type_5["2018.5"] + df_license_type_5["2019.5"] + df_license_type_5["2020.5"]  + df_license_type_5["2021.5"] + df_license_type_5["2022.5"]) / 5
df_license_type_5 = df_license_type_5.drop(columns=["2018.5", "2019.5", "2020.5", "2021.5", "2022.5"])
df_license_type_5["기타"] = ((df_license_type_5["2018.6"] + df_license_type_5["2019.6"] + df_license_type_5["2020.6"]  + df_license_type_5["2021.6"] + df_license_type_5["2022.6"]) / 5) + ((df_license_type_5["2018.7"] + df_license_type_5["2019.7"] + df_license_type_5["2020.7"]  + df_license_type_5["2021.7"] + df_license_type_5["2022.7"]) / 5)
df_license_type_5 = df_license_type_5.drop(columns=["2018.6", "2019.6", "2020.6", "2021.6", "2022.6", "2018.7", "2019.7", "2020.7", "2021.7", "2022.7"])

In [7]:
df_license_type_5

,age_group,accident_type,total,제1종,제2종,연습면허,무면허,국제면허,기타
1,합계,사고[건],211273.6,142449.6,54029.0,88.6,5075.8,107.0,9523.6
2,합계,사망[명],3172.4,2175.6,686.4,1.2,152.6,1.4,155.2
3,합계,부상[명],308870.8,211869.0,79086.4,133.0,7168.4,159.4,10454.6
4,20세이하,사고[건],6890.4,1435.4,3167.6,20.4,1063.0,3.4,1200.6
5,20세이하,사망[명],90.4,25.0,40.2,0.4,20.8,0.0,4.0
6,20세이하,부상[명],9788.6,2308.8,4645.0,35.6,1466.4,4.2,1328.6
7,21~30세,사고[건],29022.6,16496.4,10963.6,28.6,906.0,37.0,591.0
8,21~30세,사망[명],375.2,239.6,113.2,0.0,17.2,0.8,4.4
9,21~30세,부상[명],43910.4,25350.4,16460.0,44.0,1330.4,57.8,667.8
10,31~40세,사고[건],31781.6,21982.8,8671.4,10.8,645.0,28.4,443.2
11,31~40세,사망[명],398.0,304.8,74.6,0.2,14.4,0.0,4.0
12,31~40세,부상[명],47225.6,32872.4,12835.6,14.4,964.6,41.2,497.4
13,41~50세,사고[건],38880.8,28736.8,8892.2,9.6,629.4,14.4,598.4
14,41~50세,사망[명],523.4,432.4,68.8,0.2,14.8,0.0,7.2
15,41~50세,부상[명],57055.2,42443.4,12978.4,11.2,939.4,20.4,662.4
16,51~60세,사고[건],50277.0,38126.6,10298.4,9.2,860.2,11.8,970.8
17,51~60세,사망[명],730.8,574.0,107.6,0.2,27.6,0.0,21.4
18,51~60세,부상[명],73559.0,56213.6,15008.2,13.6,1244.8,16.8,1062.0
19,61~64세,사고[건],18771.0,14370.2,3660.8,2.0,281.6,2.6,453.8
20,61~64세,사망[명],298.2,223.0,50.8,0.0,10.2,0.4,13.8
21,61~64세,부상[명],27446.8,21245.4,5317.2,2.4,385.2,3.4,493.2
22,65세이상,사고[건],32163.2,21301.0,8375.0,8.0,689.6,7.2,1782.4
23,65세이상,사망[명],755.2,376.8,231.2,0.2,47.6,0.2,99.2
24,65세이상,부상[명],45991.0,31434.6,11842.0,11.8,836.6,11.4,1854.6

In [8]:
df_license_type_5["age_group"] = df_license_type_5["age_group"].replace({"합계": "all_age", "20세이하": 10, "21~30세": 20, "31~40세": 30, "41~50세": 40, "51~60세": 50, "61~64세": 60, "65세이상": 65})
df_license_type_5["accident_type"] = df_license_type_5["accident_type"].replace({"사고[건]": "accident", "사망[명]": "dead", "부상[명]": "injured"})
df_license_type_5 = df_license_type_5.set_index("age_group")

In [9]:
df_license_type_5

,accident_type,total,제1종,제2종,연습면허,무면허,국제면허,기타
age_group,,,,,,,,
all_age,accident,211273.6,142449.6,54029.0,88.6,5075.8,107.0,9523.6
all_age,dead,3172.4,2175.6,686.4,1.2,152.6,1.4,155.2
all_age,injured,308870.8,211869.0,79086.4,133.0,7168.4,159.4,10454.6
10,accident,6890.4,1435.4,3167.6,20.4,1063.0,3.4,1200.6
10,dead,90.4,25.0,40.2,0.4,20.8,0.0,4.0
10,injured,9788.6,2308.8,4645.0,35.6,1466.4,4.2,1328.6
20,accident,29022.6,16496.4,10963.6,28.6,906.0,37.0,591.0
20,dead,375.2,239.6,113.2,0.0,17.2,0.8,4.4
20,injured,43910.4,25350.4,16460.0,44.0,1330.4,57.8,667.8
30,accident,31781.6,21982.8,8671.4,10.8,645.0,28.4,443.2
30,dead,398.0,304.8,74.6,0.2,14.4,0.0,4.0
30,injured,47225.6,32872.4,12835.6,14.4,964.6,41.2,497.4
40,accident,38880.8,28736.8,8892.2,9.6,629.4,14.4,598.4
40,dead,523.4,432.4,68.8,0.2,14.8,0.0,7.2
40,injured,57055.2,42443.4,12978.4,11.2,939.4,20.4,662.4
50,accident,50277.0,38126.6,10298.4,9.2,860.2,11.8,970.8
50,dead,730.8,574.0,107.6,0.2,27.6,0.0,21.4
50,injured,73559.0,56213.6,15008.2,13.6,1244.8,16.8,1062.0
60,accident,18771.0,14370.2,3660.8,2.0,281.6,2.6,453.8
60,dead,298.2,223.0,50.8,0.0,10.2,0.4,13.8
60,injured,27446.8,21245.4,5317.2,2.4,385.2,3.4,493.2
65,accident,32163.2,21301.0,8375.0,8.0,689.6,7.2,1782.4
65,dead,755.2,376.8,231.2,0.2,47.6,0.2,99.2
65,injured,45991.0,31434.6,11842.0,11.8,836.6,11.4,1854.6

In [10]:
df_license_type_5.to_csv("./data/pre_driver_license_type.csv", encoding="utf-8")

In [11]:
df = pd.read_csv("./data/pre_driver_license_type.csv", encoding="utf-8")

In [12]:
df

,age_group,accident_type,total,제1종,제2종,연습면허,무면허,국제면허,기타
0,all_age,accident,211273.6,142449.6,54029.0,88.6,5075.8,107.0,9523.6
1,all_age,dead,3172.4,2175.6,686.4,1.2,152.6,1.4,155.2
2,all_age,injured,308870.8,211869.0,79086.4,133.0,7168.4,159.4,10454.6
3,10,accident,6890.4,1435.4,3167.6,20.4,1063.0,3.4,1200.6
4,10,dead,90.4,25.0,40.2,0.4,20.8,0.0,4.0
5,10,injured,9788.6,2308.8,4645.0,35.6,1466.4,4.2,1328.6
6,20,accident,29022.6,16496.4,10963.6,28.6,906.0,37.0,591.0
7,20,dead,375.2,239.6,113.2,0.0,17.2,0.8,4.4
8,20,injured,43910.4,25350.4,16460.0,44.0,1330.4,57.8,667.8
9,30,accident,31781.6,21982.8,8671.4,10.8,645.0,28.4,443.2
10,30,dead,398.0,304.8,74.6,0.2,14.4,0.0,4.0
11,30,injured,47225.6,32872.4,12835.6,14.4,964.6,41.2,497.4
12,40,accident,38880.8,28736.8,8892.2,9.6,629.4,14.4,598.4
13,40,dead,523.4,432.4,68.8,0.2,14.8,0.0,7.2
14,40,injured,57055.2,42443.4,12978.4,11.2,939.4,20.4,662.4
15,50,accident,50277.0,38126.6,10298.4,9.2,860.2,11.8,970.8
16,50,dead,730.8,574.0,107.6,0.2,27.6,0.0,21.4
17,50,injured,73559.0,56213.6,15008.2,13.6,1244.8,16.8,1062.0
18,60,accident,18771.0,14370.2,3660.8,2.0,281.6,2.6,453.8
19,60,dead,298.2,223.0,50.8,0.0,10.2,0.4,13.8
20,60,injured,27446.8,21245.4,5317.2,2.4,385.2,3.4,493.2
21,65,accident,32163.2,21301.0,8375.0,8.0,689.6,7.2,1782.4
22,65,dead,755.2,376.8,231.2,0.2,47.6,0.2,99.2
23,65,injured,45991.0,31434.6,11842.0,11.8,836.6,11.4,1854.6