In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
df_traffic_safe_5 = pd.read_excel("traffic_accident_type.xls", engine="xlrd")

In [3]:
df_traffic_safe_5 = df_traffic_safe_5.iloc[:-2]
df_traffic_safe_5 = df_traffic_safe_5.replace("-", np.nan)
df_traffic_safe_5 = df_traffic_safe_5.fillna(0)

In [4]:
df_traffic_safe_5 = df_traffic_safe_5[["기본계획 연령별1", "2019.12", "2020.12", "2021.11", "2022.11", "2023.11"]]
df_traffic_safe_5 = df_traffic_safe_5.rename(columns={"기본계획 연령별1": "age_group", "2019.12": "safe_2019", "2020.12": "safe_2020", "2021.11": "safe_2021", "2022.11": "safe_2022", "2023.11": "safe_2023"})
df_traffic_safe_5 = df_traffic_safe_5[2:]

In [5]:
df_traffic_safe_5["age_group"] = df_traffic_safe_5["age_group"].replace({"20세이하": "10", "21~30세": "20", "31~40세": "30", "41~50세": "40", "51~60세": "50", "61~64세": "60", "65세이상": "65"})

In [6]:
df_traffic_safe_5 = df_traffic_safe_5.set_index("age_group")

In [7]:
df_traffic_safe_5

          safe_2019 safe_2020 safe_2021 safe_2022 safe_2023
age_group
10             3999      4027      3848      3720      3232
20            17070     16483     15930     15094     14051
30            19704     17923     16938     16524     15732
40            24226     21327     20405     19364     18762
50            30000     27664     25686     25123     24582
60            10473      9722     10027     10610     11050
65            17743     16825     16979     19002     21653

In [8]:
df_traffic_safe_5.to_csv("pre_traffic_accident_safe.csv", encoding="utf-8")