In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
df_elderly = pd.read_csv("elderly_people.csv", encoding="cp949")

In [3]:
df_elderly.rename(columns={"행정구역": "city"}, inplace=True)
df_elderly["city"] = df_elderly["city"].replace({"충청북도  (4300000000)": "충북", "충청남도  (4400000000)": "충남", "전라북도  (4500000000)": "전북", "전라남도  (4600000000)": "전남", "경상북도  (4700000000)": "경북", "경상남도  (4800000000)": "경남"})
df_elderly["city"] = df_elderly["city"].str[:2]
df_elderly = df_elderly.set_index("city")

In [4]:
filtered_columns = [col for col in df_elderly.columns if "전체" in col]
df_elderly = df_elderly[filtered_columns]

In [5]:
for col in df_elderly.columns:
    if df_elderly[col].dtype == "object":
        df_elderly[col] = df_elderly[col].str.replace(",", "")
        df_elderly[col] = pd.to_numeric(df_elderly[col], errors='coerce')

In [6]:
df_elderly["total_2019"] = df_elderly.filter(regex=r"2019년\d{2}월_전체").sum(axis=1)
df_elderly["total_elderly_2019"] = df_elderly.filter(regex=r"2019년\d{2}월_65세이상전체").sum(axis=1)
df_elderly["total_2020"] = df_elderly.filter(regex=r"2020년\d{2}월_전체").sum(axis=1)
df_elderly["total_elderly_2020"] = df_elderly.filter(regex=r"2020년\d{2}월_65세이상전체").sum(axis=1)
df_elderly["total_2021"] = df_elderly.filter(regex=r"2021년\d{2}월_전체").sum(axis=1)
df_elderly["total_elderly_2021"] = df_elderly.filter(regex=r"2021년\d{2}월_65세이상전체").sum(axis=1)
df_elderly["total_2022"] = df_elderly.filter(regex=r"2022년\d{2}월_전체").sum(axis=1)
df_elderly["total_elderly_2022"] = df_elderly.filter(regex=r"2022년\d{2}월_65세이상전체").sum(axis=1)
df_elderly["total_2023"] = df_elderly.filter(regex=r"2023년\d{2}월_전체").sum(axis=1)
df_elderly["total_elderly_2023"] = df_elderly.filter(regex=r"2023년\d{2}월_65세이상전체").sum(axis=1)
df_elderly_5 = df_elderly[["total_2019", "total_elderly_2019", "total_2020", "total_elderly_2020", "total_2021", "total_elderly_2021", "total_2022", "total_elderly_2022", "total_2023", "total_elderly_2023"]]

C:\Users\minni\AppData\Local\Temp\ipykernel_153532\1082379497.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_elderly["total_2019"] = df_elderly.filter(regex=r"2019년\d{2}월_전체").sum(axis=1)
C:\Users\minni\AppData\Local\Temp\ipykernel_153532\1082379497.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_elderly["total_elderly_2019"] = df_elderly.filter(regex=r"2019년\d{2}월_65세이상전체").sum(axis=1)
C:\Users\minni\AppData\Local\Temp\ipykernel_153532\1082379497.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_elderly["total_2020"] = df_elderly.filter(regex=r"2020년\d{2}월_전체").sum(axis=1)
C:\Users\minni\AppData\Local\Temp\ipykernel_153532\1082379497.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_elderly["total_elderly_2020"] = df_elderly.filter(regex=r"2020년\d{2}월_65세이상전체").sum(axis=1)
C:\Users\minni\AppData\Local\Temp\ipykernel_153532\1082379497.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_elderly["total_2021"] = df_elderly.filter(regex=r"2021년\d{2}월_전체").sum(axis=1)
C:\Users\minni\AppData\Local\Temp\ipykernel_153532\1082379497.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_elderly["total_elderly_2021"] = df_elderly.filter(regex=r"2021년\d{2}월_65세이상전체").sum(axis=1)
C:\Users\minni\AppData\Local\Temp\ipykernel_153532\1082379497.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_elderly["total_2022"] = df_elderly.filter(regex=r"2022년\d{2}월_전체").sum(axis=1)
C:\Users\minni\AppData\Local\Temp\ipykernel_153532\1082379497.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_elderly["total_elderly_2022"] = df_elderly.filter(regex=r"2022년\d{2}월_65세이상전체").sum(axis=1)
C:\Users\minni\AppData\Local\Temp\ipykernel_153532\1082379497.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_elderly["total_2023"] = df_elderly.filter(regex=r"2023년\d{2}월_전체").sum(axis=1)
C:\Users\minni\AppData\Local\Temp\ipykernel_153532\1082379497.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_elderly["total_elderly_2023"] = df_elderly.filter(regex=r"2023년\d{2}월_65세이상전체").sum(axis=1)

In [7]:
df_elderly_5

,total_2019,total_elderly_2019,total_2020,total_elderly_2020,total_2021,total_elderly_2021,total_2022,total_elderly_2022,total_2023,total_elderly_2023
city,,,,,,,,,,
전국,622103134,94235545,622081566,99647892,620376280,104206149,618572327,109021595,616618177,114226704
서울,117027908,17371062,116536558,18347421,114848517,18920174,113754692,19604875,112940022,20398435
부산,41117018,7273963,40841043,7707345,40391333,8034066,40005131,8387523,39668517,8763106
대구,29395093,4464031,29138950,4705779,28791286,4917219,28485955,5129954,28417192,5417337
인천,35480811,4495679,35370992,4803642,35286948,5092554,35496636,5412625,35784748,5782466
광주,17508236,2297786,17453055,2418266,17326611,2514959,17226143,2619789,17096366,2744473
대전,17787945,2328339,17639826,2470685,17479896,2598907,17381593,2730983,17336378,2871441
울산,13814008,1543290,13699729,1666346,13519359,1780896,13381994,1906287,13271465,2042430
세종,3949401,368260,4168569,402240,4370198,436106,4558695,468345,4630328,497757
경기,158010019,19258330,160130213,20684943,162115160,22000612,162972975,23318397,163401076,24760030
강원,18491064,3559946,18483276,3753689,18449823,3921200,18459929,4112814,18382307,4311398
충북,19193056,3219292,19180798,3382970,19168094,3544446,19158631,3723098,19128617,3905569
충남,25502440,4562354,25443690,4771560,25418563,4960524,25444896,5154758,25518348,5357619
전북,21914894,4377487,21712692,4558034,21529604,4706483,21327284,4854698,21137014,5005882
전남,22445723,5012191,22262776,5162966,22087734,5289773,21901654,5424313,21723525,5574501
경북,32027555,6486203,31764555,6765223,31584087,7037825,31346040,7308495,30911210,7506621
경남,40403275,6437521,40190380,6802897,39902753,7148864,39535047,7503607,39151614,7864863
제주,8034688,1179811,8064464,1243886,8106314,1301541,8135032,1361034,8119450,1422776

In [8]:
df_elderly_5.to_csv("pre_elderly_people.csv", encoding="utf-8")