In [2]:
import pandas as pd
import numpy as np
import csv

In [50]:
df_traffic_safe_5 = pd.read_excel("./data/traffic_accident_type_5.xls", engine="xlrd")

In [51]:
df_traffic_safe_5 = df_traffic_safe_5.iloc[:-2]
df_traffic_safe_5 = df_traffic_safe_5.replace("-", np.nan)
df_traffic_safe_5 = df_traffic_safe_5.fillna(0)

In [52]:
df_traffic_safe_5

,기본계획 연령별1,2019,2019.1,2019.2,2019.3,2019.4,2019.5,2019.6,2019.7,2019.8,...,2023.10,2023.11,2023.12,2023.13,2023.14,2023.15,2023.16,2023.17,2023.18,2023.19
0,기본계획 연령별1,합계,과로,과속,앞지르기방법위반,앞지르기금지위반,중앙선침범,신호위반,안전거리미확보,일시정지위반,...,진로양보불이행,안전운전의무불이행,교차로운행방법위반,보행자보호의무위반,차로위반(진로변경),직진우회전진행방해,철길건널목통과방법,긴급차피양의무위반,기타,정비불량
1,합계,229600,1,1124,111,410,9344,27921,22473,581,...,29,110868,11060,7227,2641,5286,1,3,5637,8
2,20세이하,7231,0,69,8,22,370,1309,439,20,...,0,3232,171,185,32,130,0,0,409,0
3,21~30세,30631,0,326,13,58,1278,4214,2920,79,...,2,14051,1223,693,303,706,0,1,769,0
4,31~40세,34978,0,226,25,56,1335,4052,3576,97,...,4,15732,1417,936,282,763,0,0,691,0
5,41~50세,43769,0,173,21,64,1636,4842,4286,125,...,7,18762,1942,1414,411,953,0,0,832,4
6,51~60세,55814,1,184,22,98,2175,6625,5698,142,...,7,24582,2667,1653,686,1137,1,1,1308,0
7,61~64세,19847,0,63,7,38,816,2414,2013,54,...,2,11050,1212,746,274,516,0,0,586,2
8,65세이상,33239,0,83,13,71,1634,4162,3235,64,...,7,21653,2389,1445,622,1070,0,1,893,1

In [53]:
df_traffic_safe_5 = df_traffic_safe_5[["기본계획 연령별1", "2019.12", "2020.12", "2021.11", "2022.11", "2023.11"]]
df_traffic_safe_5 = df_traffic_safe_5.rename(columns={"기본계획 연령별1": "age_group", "2019.12": "safe_2019", "2020.12": "safe_2020", "2021.11": "safe_2021", "2022.11": "safe_2022", "2023.11": "safe_2023"})
df_traffic_safe_5 = df_traffic_safe_5[2:]

In [54]:
df_traffic_safe_5

  age_group safe_2019 safe_2020 safe_2021 safe_2022 safe_2023
2     20세이하      3999      4027      3848      3720      3232
3    21~30세     17070     16483     15930     15094     14051
4    31~40세     19704     17923     16938     16524     15732
5    41~50세     24226     21327     20405     19364     18762
6    51~60세     30000     27664     25686     25123     24582
7    61~64세     10473      9722     10027     10610     11050
8     65세이상     17743     16825     16979     19002     21653

In [55]:
df_traffic_safe_5["age_group"] = df_traffic_safe_5["age_group"].replace({"20세이하": "10", "21~30세": "20", "31~40세": "30", "41~50세": "40", "51~60세": "50", "61~64세": "60", "65세이상": "65"})

In [56]:
df_traffic_safe_5

  age_group safe_2019 safe_2020 safe_2021 safe_2022 safe_2023
2        10      3999      4027      3848      3720      3232
3        20     17070     16483     15930     15094     14051
4        30     19704     17923     16938     16524     15732
5        40     24226     21327     20405     19364     18762
6        50     30000     27664     25686     25123     24582
7        60     10473      9722     10027     10610     11050
8        65     17743     16825     16979     19002     21653

In [57]:
df_traffic_safe_5 = df_traffic_safe_5.set_index("age_group")

In [58]:
df_traffic_safe_5

          safe_2019 safe_2020 safe_2021 safe_2022 safe_2023
age_group
10             3999      4027      3848      3720      3232
20            17070     16483     15930     15094     14051
30            19704     17923     16938     16524     15732
40            24226     21327     20405     19364     18762
50            30000     27664     25686     25123     24582
60            10473      9722     10027     10610     11050
65            17743     16825     16979     19002     21653

In [59]:
df_traffic_safe_5.to_csv("./data/pre_traffic_accident_safe_5.csv", encoding="utf-8")

In [60]:
df = pd.read_csv("./data/pre_traffic_accident_safe_5.csv", encoding="utf-8")

In [61]:
df

   age_group  safe_2019  safe_2020  safe_2021  safe_2022  safe_2023
0         10       3999       4027       3848       3720       3232
1         20      17070      16483      15930      15094      14051
2         30      19704      17923      16938      16524      15732
3         40      24226      21327      20405      19364      18762
4         50      30000      27664      25686      25123      24582
5         60      10473       9722      10027      10610      11050
6         65      17743      16825      16979      19002      21653