In [1]:
import pandas as pd
import csv

In [2]:
df_license_4 = pd.read_csv("driver_license.csv", encoding="utf-8")

In [3]:
df_license_4 = df_license_4.iloc[3:]
year = ["2019", "2020", "2021", "2022"]
col = ["연령대별(1)"] + year
df_license_4 = df_license_4[col]

In [4]:
df_license_4.rename(columns={"연령대별(1)": "age_group", "2019": "total_2019", "2020": "total_2020", "2021": "total_2021", "2022": "total_2022"}, inplace=True)
df_license_4 = df_license_4.set_index("age_group")

In [5]:
def change_index(index):
    if int(index[0]) == 1:
        return 10
    elif int(index[0]) == 2:
        return 20
    elif int(index[0]) == 3:
        return 30
    elif int(index[0]) == 4:
        return 40
    elif int(index[0]) == 5:
        return 50
    elif 60 <= int(index[:2]) <= 64:
        return 60
    else:
        return 65

In [6]:
df_license_4.index = df_license_4.index.map(change_index)

In [8]:
df_license_4

          total_2019 total_2020 total_2021 total_2022
age_group
10              1807       2197       2068       1887
10              4078       4854       4949       4299
10             62697      53258      64179      57189
10            222602     224932     208437     208793
20            274358     306446     296718     264166
...              ...        ...        ...        ...
65               542        567        649        827
65               512        447        443        500
65               348        418        355        337
65               193        301        350        299
65               524        649        843       1054

[84 rows x 4 columns]

In [7]:
df_license_4.to_csv("pre_driver_license.csv", encoding="utf-8")